.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #151617;
    width: 220px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 99;
    transition: all .3s linear;
}
.sidebar-open {
    right: 0 !important;
}
/* Large devices (Tablets and Laptops) */
@media screen and (min-width:600px) {
    .hidden-ls {
        display: none;
    }

    .w-700 {
        width: 700px !important;
    }
    .w-600 {
        width: 600px !important;
    }

    .sidebar {
        flex-direction: row;
        background-color: transparent;
        right: 0px;
        width: fit-content;
        height: fit-content;
        margin-right: 10px;
        padding-right: 10px;
    }

    .overlay-close {
        z-index: -1;
        visibility: hidden;
    }

    .d-row-col {
        display: flex;
        flex-direction: row !important;
    }
}

.overlay-close {
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
    width: 100%;
    position: fixed;
    visibility: hidden;
    top: 0;
    z-index: -1;
}

.ovr-open {
    z-index: 3;
    visibility: visible;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ce8a1b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.btn:hover {
    background-color: #d9a425;
    transform: translateY(-3px);
}

.thumb {
    width: 2.5rem;
    height: 2.5rem;
}

.thumb-active {
    width: 2.5rem
}